global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend gateway
  bind :5000
  use_backend websocket_servers if { path /ws } || { path_beg /ws/ }
  default_backend webservers

backend websocket_servers
  option http-server-close
  timeout tunnel 1h
  server socket1 dbdiagram-gateway01:5000 check
  server socket2 dbdiagram-gateway02:5000 check

backend webservers
  server backend1 dbdiagram-gateway01:5000 check
  server backend2 dbdiagram-gateway02:5000 check
